#define DEFAULT 0
#define WIN     1
#define NUM     2
#define SYM     3
#define FUN     4
#define MOUSE   5
#define SCROLL  6
#define NONE    7

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
    hold-trigger-key-positions = <>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

&msc {
    trigger-period-ms = <32>;
    time-to-max-speed-ms = <0>;
};

/ {
    // custom shift using mod-morph

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        OFF {
            bindings = <&to 7>;
            key-positions = <30 38>;
            layers = <0>;
        };

        ON {
            bindings = <&to 0>;
            key-positions = <30 38>;
            layers = <7>;
        };

        WINDOWS {
            bindings = <&to 0>;
            key-positions = <0 9>;
            layers = <0>;
        };

        MAC {
            bindings = <&to 0>;
            key-positions = <0 9>;
            layers = <7>;
        };

        LEFT_CLICK {
            bindings = <&mkp LCLK>;
            key-positions = <13 12>;
        };

        RIGHT_CLICK {
            bindings = <&mkp RCLK>;
            key-positions = <11 12>;
        };

        ENGLISH_KEY {
            bindings = <&kp F10>;
            key-positions = <6 7>;
        };

        INPUT_EN {
            bindings = <&kp LANG2>;
            key-positions = <16 17>;
        };

        INPUT_JP {
            bindings = <&kp LANG1>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_layer {
            label = "MAC";
            bindings = <
&lt 6 Q                       &kp W           &kp E           &kp R             &kp T                                  &kp Y        &kp U              &kp I            &kp O            &kp P
&mt LCTRL A                   &mt LEFT_ALT S  &mt LEFT_GUI D  &mt LEFT_SHIFT F  &kp G                                  &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RCTRL SEMICOLON
&mt LA(LC(LG(LEFT_SHIFT))) Z  &lt 3 LC(X)     &lt 3 C         &lt 3 V           &lt 3 B                                &lt 2 N      &lt 2 LS(M)        &lt 2 COMMA      &lt 2 PERIOD     &lt 4 MINUS
&none                                                                           &lt 3 TAB  &kp SPACE  &lt 4 BACKSPACE  &lt 2 ENTER  &none              &none            &none            &none
            >;
        };

        windows_layer {
            label = "WIN";
            bindings = <
&lt 6 Q      &kp W           &kp E           &kp R             &kp T                                  &kp Y        &kp U              &kp I            &kp O            &kp P
&mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_GUI D  &mt LEFT_SHIFT F  &kp G                                  &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RCTRL SEMICOLON
&mt RCTRL Z  &lt 3 LC(X)     &lt 3 C         &lt 3 V           &lt 3 B                                &lt 2 N      &lt 2 LS(M)        &lt 2 COMMA      &lt 2 PERIOD     &lt 4 MINUS
&none                                                          &lt 3 TAB  &kp SPACE  &lt 4 BACKSPACE  &lt 2 ENTER  &none              &none            &none            &none
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&kp NUMBER_1                     &kp NUMBER_2         &kp NUMBER_3             &kp NUMBER_4         &kp NUMBER_5                         &kp N6          &kp N7          &kp N8        &kp N9           &kp N0
&mt RCTRL HOME                   &mt RIGHT_ALT PG_UP  &mt RIGHT_GUI PAGE_DOWN  &mt RIGHT_SHIFT END  &none                                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp RET
&mt RA(RC(RG(RIGHT_SHIFT))) ESC  &mkp MB4             &mkp MB5                 &kp RC(PG_UP)        &kp LC(PAGE_DOWN)                    &none           &caps_word      &kp LANG2     &kp LANG1        &kp RA(GRAVE)
&none                                                                                               &kp SPACE          &kp TAB  &kp DEL  &none           &none           &none         &none            &none
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH   &kp DOLLAR         &kp PERCENT                  &kp CARET             &kp AMPERSAND          &kp ASTERISK      &kp PLUS           &kp EQUAL
&kp QUESTION     &kp TILDE    &kp GRAVE  &kp DOUBLE_QUOTES  &kp SQT                      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp COLON
&kp PIPE         &kp BSLH     &kp FSLH   &kp SPACE          &none                        &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LESS_THAN     &kp GREATER_THAN   &kp UNDERSCORE
&none                                                       &kp SPACE    &kp TAB  &none  &kp EQUAL             &none                  &none             &none              &none
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&kp F1     &kp F2   &kp F3       &kp F4       &kp F5                       &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp F11    &kp F12  &kp LC(F13)  &kp LA(F13)  &kp LC(LS(S))                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp GLOBE  &kp F14  &kp F15      &kp F16      &kp F17                      &bt BT_CLR    &none         &none         &sys_reset    &none
&none                                         &none          &none  &none  &none         &none         &none         &none         &bootloader
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&none  &kp LC(PG_UP)  &none      &kp LC(PG_DN)  &none                   &none   &none   &none   &none   &none
&none  &mkp RCLK      &mkp MCLK  &mkp LCLK      &none                   &none   &none   &none   &none   &none
&none  &mkp MB4       &none      &mkp MB5       &none                   &none   &none   &none   &none   &none
&none                                           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&none  &msc SCRL_RIGHT  &mmv MOVE_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT                &none           &none           &none         &none            &none
&none  &none            &none         &none           &none                          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &none            &none         &none           &none                          &none           &none           &none         &none            &none
&none                                                 &none            &none  &none  &none           &none           &none         &none            &none
            >;
        };

        none_layer {
            label = "NONE";
            bindings = <
&none  &none  &none  &none  &none                &none  &none  &none  &none  &none
&none  &none  &none  &none  &none                &none  &none  &none  &none  &none
&none  &none  &none  &none  &none                &none  &none  &none  &none  &none
&none                       &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
